body {
        font-family: Verdana, sans-serif;
        background-color: #383838;
}

#padding {
        padding-top: 50px;
}

#top {
        background-color: lightslategrey;
        border-bottom-style: solid;
        border-bottom-color: darkslateblue;
        border-bottom-width: 5px;
}

.search {
        height: 25px;
        font-size: 18px;
        font-family: "Lucida Console", monospace;
}

#searchBox {
        margin: auto;
        background-color: lightslategrey;
        width: 800px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-style: solid;
        border-width: 5px;
        border-color: darkslateblue;
        border-radius: 5px;
}

.bigwords {
        color: white;
}

.info {
        background-color: lightslategrey;
        border-style: solid;
        border-color: darkslateblue;
        border-width: 5px;
        padding-left: 15px;
}

 .textfield {
 	background-color: white;
 	border-style:solid;
 	border-color: darkslateblue;
 	width: 600px;
	height: 200px;
	padding-bottom:180px;
	white-space:normal;
 }
